{% if include.isHeader != true %}
<hr>
{% endif %}
<div class="banner {% if include.isHeader != true %} section-banner {% endif %}">
    <img class="fill {% if include.isHeader != true %} section-banner-img {% endif %}" src="{{ include.image_url }}"/>
    <div class="text-overlay text-overlay-pos">
      <h1 class="banner-title {% if include.isHeader != true %} section-title {% endif %}">
        {{ include.title }}
      </h1>
      <p class="banner-description {% if include.isHeader != true %} section-description {% endif %}">{{ include.description }}</p>
    </div>
</div>
<hr>